/* App.css original */

/* .App { */
  /* text-align: center; */
/* } */

/* .App-logo { */
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
/* } */

/* .App-header { */
  /* background-color: #222; */
  /* height: 150px; */
  /* padding: 20px; */
  /* color: white; */
/* } */

/* .App-title { */
  /* font-size: 1.5em; */
/* } */

/* .App-intro { */
  /* font-size: large; */
/* } */

/* @keyframes App-logo-spin { */
  /* from { transform: rotate(0deg); } */
  /* to { transform: rotate(360deg); } */
/* } */


/* General */

.appletWrapper {
  width: 90%;
  min-width: 1200px;
  margin: 0 5%;
}

.appletTitle {
  margin-top: 30px;
}

.applet .numericInput {
  text-align: right;
  font-family: monospace;
  border: none;
  color: #bf3131;
  background-color: none;
  outline: 0;
  font-size: 35px;
  width: 100%;
  height: 40px;
}

.applet .numericInput:focus {
  /* border: none; */
  outline: 0;
  width: 100%;
  height: 30px;
}

.applet {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Bit app */

.inputModule {
  margin: 0 10px;
}

.binaryInputModule {
  width: 1000px;
}

.hexInputModule {
  font-size: 40px;
  width: 400px;
}

.signDropdown {
  width:5px;

}

.result {
  border-top: 3px solid black;
  margin-top: 10px;
  padding-top: 20px;
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}

.valuesAndSign {
  display: flex;
  flex-direction: row;
}

.sign {
  align-items: flex-end;

}




