
/* Site general */
body {
  font-family: roboto;
}

/* Navigation */


/* App general */

.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1024px;
}

.app-title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  text-align: left;
}

.app-description {
  line-height: 1.5;
  padding: 0 20px 30px 20px;
}

.app-input-modules {
  margin-left: 20px;
}

.input-module {
  min-width: fit-content;
}

.input-module-gap-padding {
  margin-right: 20px
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-start-wrap {
  justify-content: flex-start;
  flex-wrap: wrap;
}


/* Floating Point app */




/* Bit Operations app */

.app-decimal-result {
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

.input-module__opposite-cols {
  display: flex;
  justify-content: space-between;
}

.input-module__inputs {
  align-items: flex-end;
  font-size: 25px;
  height: 120px;
  justify-content: flex-end;
  text-align: right;
}

.input-module__inputs--binary {
  width: 600px;
  min-width: fit-content;
}

.input-module__inputs--hex {
  width: 200px;
}

.input-module__input {
  font-family: monospace;
  font-weight: bold;
  height: 25px;
  line-height: 1;
  margin: 5px 0;
  padding: 5px 0;
}

.input-module__input--hex {
  background-color: none;
  border: none;
  border-bottom: 2px solid #DDD;
  color: #bf3131;
  font-size: 25px;
  margin: 5px 0;
  outline: 0;
  text-align: right;
  width: 100%;
}

.input-module__result {
  border-top: 3px solid black;
  font-family:monospace;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 10px;
  text-align: right;
}

.input-module__operator {
  align-items: flex-end;
  font-size: 25px;
  min-width: 60px;
  padding: 10px;
}

.input-module__operator-dropdown {
  height: 25px;
  width: 50px;
}

.input-module__operator-dropdown__value {
  color: #bf3131;
}

/* information at bottom */ 

.app-bitwise-info {
  justify-content: space-between;
  margin: 100px 25px;
}

.app-bitwise-info__operator-table {
  width: 100px;
}

.app-bitwise-info__conversion-table {
  width: 300px;
}

.app-bitwise-info table {
  border-collapse: collapse;
  margin: 20px;
}

.app-bitwise-info table th, td {
  border: 2px solid black;
  text-align: center;
  padding: 3px;
}

