
/* Site general */
body {
  font-family: roboto;
}

/* Navigation */


/* App general */

.app-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;

}

.app-title {
  /* margin: 30px 30px 30px 0; */
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.dataListDropdown {
  width: 70px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* etc */

.input-module {
  margin: 0 10px;
}

.input-module__title {
  /* margin: 30px 30px 30px 0; */
  /* font-size: 30px; */
  /* font-weight: bold; */
}

.input-module__body {
  display: flex;
  flex-direction: row;
}

/* Bit Operations app */

/* input module */

.input-module__inputs {
  font-size: 25px;
  height: 120px;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.input-module__inputs--binary {
  width: 600px;
}

.input-module__inputs--hex {
  width: 200px;
}

.input-module__input {
  font-family: monospace;
  height: 25px;
  padding: 5px 0;
  line-height: 1;
  margin: 5px 0;
}

.input-module__input--hex {
  text-align: right;
  border: none;
  border-bottom: 2px solid #BBB;

  /* border-radius: 5px; */
  /* border-style: solid; */
  /* border-color: #BBB; */
  margin: 5px 0;
  color: #bf3131;
  background-color: none;
  outline: 0;
  font-size: 25px;
  width: 100%;
}

.input-module__result {
  border-top: 3px solid black;
  margin-top: 5px;
  padding-top: 10px;
  font-size: 25px;
  text-align: right;
  font-weight: bold;
  font-family:monospace;
}

.input-module__operator {
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  min-width: 60px;
  padding: 10px;
  font-size: 25px;
}

.input-module__operator-dropdown {
  height: 25px;
  width: 50px;
}

.input-module__operator-dropdown__value {
  color: #bf3131;
}


